@model HandleErrorInfo
@{
    ViewBag.Title = "ErrorPage";
}

<h2>ErrorPage</h2>
<div>
    <table>
        <tr>
            <td>控制器名：</td>
            <td>@Model.ControllerName</td>
        </tr>
        <tr>
            <td>动作方法名称：</td>
            <td>@Model.ActionName</td>
        </tr>
        <tr>
            <td>异常：</td>
            <td>@Model.Exception.Message</td>
        </tr>
    </table>
</div>
