<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Views/common.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>
        Product Information
    </h1>
    <div>
        @RenderBody()
    </div>
    <h2>
        View ASP.NET MVC
    </h2>
</body>
</html>
