<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="redis" type="System.Configuration.DictionarySectionHandler" />
    <section name="Man" type="System.Configuration.DictionarySectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="StaticFactoryMethod_db" value="SqlServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogLocation" value="D:\App_Log\log.txt" />
  </appSettings>
  <connectionStrings>
    <add name="MeetingSys" connectionString="Data Source=.\MSSQL2008R2;Initial Catalog=MeetingSys;Persist Security Info=True;User ID=sa;Password=111111;MultipleActiveResultSets=True;Application Name=EntityFramework" />
    <add name="MeiTuanEntities" connectionString="metadata=res://*/Model.MeiTuan.EF.Model1.csdl|res://*/Model.MeiTuan.EF.Model1.ssdl|res://*/Model.MeiTuan.EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQL2008R2;initial catalog=MeiTuan;persist security info=True;user id=sa;password=111111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="DefaultConnection" connectionString="Data Source=.\MSSQL2012;Initial Catalog=pjwl;User ID=sa;Password=123456;Connect Timeout=30;" providerName="System.Data.SqlClient" />  </connectionStrings>
  <Man>
    <add key="老大" value="曹操" />
    <add key="老二" value="典韦" />
    <add key="老三" value="郭嘉" />
  </Man>
  <redis>
    <add key="WriteServerList" value="127.0.0.1:6379">
    </add>
    <add key="ReadServerList" value="127.0.0.1:6379">
    </add>
    <add key="MaxWritePoolSize" value="1000">
    </add>
    <add key="MaxReadPoolSize" value="3000">
    </add>
    <add key="AutoStart" value="0">
    </add>
  </redis>
  <log4net>
    
    <!--root节点的作用是所有其它logger都默认继承它。-->
    <root xmlns="">
      
      <!--level：在这个级别或之上的才会被记录-->
      <!--日志级别由高到低分别为：OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL-->
      <level value="all" />
      <!---appender-ref：要引用的appender的名字。-->
      <appender-ref ref="控制台输出" />
      <appender-ref ref="文件输出" />
      <appender-ref ref="HTML输出" />
    </root>
    
    <appender xmlns="" name="文件输出" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <!--<param name="File" value="D:\App_Log\log.txt" />-->
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--log最大的MB-->
      <maximumFileSize value="5MB" />

      <!-- 
      固定文件名，根据大小变动 
      <param name="File" value="D:\App_Log\log.txt" />
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Size" />
      -->
      <!--
      每天不同的文件
       <param name="File" value="log" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      -->
      <param name="File" value="log" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="{&quot;createTime&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss}&quot;,&quot;level&quot;:&quot;%p&quot;,&quot;message&quot;:&quot;%m&quot;,&quot;className&quot;:&quot;%C&quot;,&quot;methodName&quot;:&quot;%M&quot;,&quot;exception&quot;:&quot;%exception&quot;},%n" />
        <!--param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" /-->
      </layout>
    </appender>
    
    <!-- 控制台前台显示日志 -->
    <appender xmlns="" name="控制台输出" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="Info" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <!--conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" /-->
        <param name="ConversionPattern" value="%d %-5p %m %exception %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- 记录日志等级范围从“Fatal”到“INFO”的日志信息： -->
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Fatal" />
      </filter>
      <!--
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="FATAL"/>
        只记录等级为“FATAL”的日志信息
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      -->
    </appender>
    
    
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/XCYN.Print.DesignPattern.Proxy/DataService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="ServiceReference1.IDataService" name="BasicHttpBinding_IDataService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>