
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*
        返回一个分部视图    
        *@
        @Html.Partial("PW")
    </div>
</body>
</html>
