<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XCYN.Service.Properties.Settings.MeetingSysConnectionString"
            connectionString="Data Source=192.168.1.168;Initial Catalog=MeetingSys;Persist Security Info=True;User ID=test;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="XCYN.Service.Properties.Settings.MeetingSysConnectionString1"
            connectionString="Data Source=.;Initial Catalog=MeetingSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="XCYN.Service.WCF.ServiceFly">
                <endpoint address="" binding="wsHttpBinding" contract="XCYN.Service.WCF.IServiceFly">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.0.119:8733/Design_Time_Addresses/XCYN.Service/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="XCYN.Service.WCF.OrderService">
                <endpoint address="" binding="basicHttpBinding" contract="XCYN.Service.WCF.IOrderService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/OrderService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="XCYN.Service.WCF.AllService">
                <endpoint name="GreatAllService" address="" binding="basicHttpBinding" contract="XCYN.Service.WCF.IAllService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint name="FastAllService" address="net.tcp://localhost:8734/AllService/" binding="netTcpBinding" contract="XCYN.Service.WCF.IAllService">
                  <identity>
                    <dns value="localhost" />
                  </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/AllService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <customBinding>
          <binding name="myCustomBinding">
            <reliableSession/>
            <binaryMessageEncoding></binaryMessageEncoding>
            <httpTransport></httpTransport>
          </binding>
        </customBinding>
      </bindings>
    </system.serviceModel>
</configuration>
