<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>论坛详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../plugin/layui/css/layui.css" rel="stylesheet" />
    <style>
        /* 帖子 */
        .table_reply td {
            border: none;
        }
        /* 头像 */
        .table_list img {
            height: 50px;
            width: 50px;
        }
        /* 标题 */
        .table_reply td:nth-child(1) div{
            float: left
        }
    </style>
</head>
<body>
    <div class="layui-container" id="div_container">

        <nav-component v-bind:my-message="Controller"></nav-component>

        <div class="layui-row" style="height:33px;line-height:33px;font-size: 15px;">
            <div class="layui-col-md12" id="div_category">
                
            </div>
        </div>

        <!--<hr class="layui-bg-blue">-->

        <div class="layui-field-box">
            <table class="layui-table table_list">
                <colgroup>
                    <col width="100">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <div style="text-align:center"><img style="width:50px; height:50px; border-radius:50%;" v-bind:src="post.avatar" /></div>
                            <div style="text-align:center">{{post.nick_name}}</div>
                        </td>
                        <td>
                            <table class="table_reply">
                                <tr>
                                    <td colspan="2">
                                        <div style="color:white;background-color:#FF5722;width:40px;" v-if="post.title_type == 2">&nbsp;转&nbsp;载&nbsp;</div>
                                        <div style="color:white;background-color:#01AAED;width:40px;" v-if="post.title_type == 1">&nbsp;原&nbsp;创&nbsp;</div>
                                        <div>&nbsp;&nbsp;{{post.title}}&nbsp;&nbsp;</div>
                                        <div style="color:white;background-color:#FF5722;width:40px;" v-if="post.is_top == 1">&nbsp;置&nbsp;顶&nbsp;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span v-html="post.content"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>楼主</td>
                                    <td>{{post.add_time}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr v-for="(item,index) in list_reply">
                        <td>
                            <div style="text-align:center"><img style="width:50px; height:50px; border-radius:50%;" v-bind:src="item.avatar" /></div>
                            <div style="text-align:center">{{item.nick_name}}</div>
                        </td>
                        <td>
                            <table class="table_reply">
                                <tr>
                                    <td colspan="2">
                                        <span v-html="item.content"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{pageIndex * pageSize + (index + 1)}}楼</td>
                                    <td>{{item.add_time}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="layui-container" style="text-align: center;" id="test1"></div>
    <script src="../../plugin/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../plugin/vue/vue.js"></script>
    <script src="../../plugin/layui/layui.all.js"></script>
    <script src="../../plugin/lodash/lodash.js"></script>
    <script src="../../Scripts/Common/nav.js"></script>
    <script src="../../Scripts/BBS/detail.js"></script>
    <script>

    </script>
</body>
</html>