<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>论坛首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../plugin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-container" id="div_container">

        <nav-component v-bind:my-message="Controller"></nav-component>

        <div class="layui-row" style="height:33px;line-height:33px;font-size: 15px;">
            <div class="layui-col-md12" id="div_category">
                <a href="#" v-for="category in list_category">{{category.category_name}} |  </a>
            </div>
        </div>

        <!--<hr class="layui-bg-blue">-->

        <fieldset class="layui-elem-field layui-field-title">
            <legend>热门推荐</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-size="lg" lay-skin="line">
                    <colgroup>
                        <col width="70">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr v-for="item in list_hot">
                            <td><img v-bind:src="item.avatar" style="width:46px; height:46px; border-radius:50%;" /></td>
                            <td>
                                <div style="width:970px;padding-bottom: 10px;">
                                    <div style="color:white;background-color:red;width:40px;float:left" v-if="item.title_type == 2">&nbsp;转&nbsp;载&nbsp;</div>
                                    <div style="color:white;background-color:blue;width:40px;float:left" v-if="item.title_type == 1">&nbsp;原&nbsp;创&nbsp;</div>
                                    <a v-bind:href="item.detail_href">&nbsp;&nbsp;{{item.title}}</a> 置顶
                                </div>
                                <div>
                                    {{item.nick_name}} 于{{item.add_time}}发表
                                    <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;padding: 0 5px 0 5px;">&#xe606;</i>{{item.comment_count}}
                                    <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;padding: 0 5px 0 5px;">&#xe6c6;</i>{{item.great_count}}
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>最新更新</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-size="lg" lay-skin="line">
                    <colgroup>
                        <col width="70">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr v-for="item in list_top">
                            <td><img v-bind:src="item.avatar" style="width:46px; height:46px; border-radius:50%;" /></td>
                            <td>

                                <div style="width:970px;padding-bottom: 10px;">
                                    <div style="color:white;background-color:red;width:40px;float:left" v-if="item.title_type == 2">&nbsp;转&nbsp;载&nbsp;</div>
                                    <div style="color:white;background-color:blue;width:40px;float:left" v-if="item.title_type == 1">&nbsp;原&nbsp;创&nbsp;</div>
                                    <a href="#">&nbsp;&nbsp;{{item.title}}</a> 置顶
                                </div>

                                <div>
                                    {{item.nick_name}} 于{{item.add_time}}发表
                                    <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;padding: 0 5px 0 5px;">&#xe606;</i>{{item.comment_count}}
                                    <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;padding: 0 5px 0 5px;">&#xe6c6;</i>{{item.great_count}}
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </div>

    <!--<script src="../../plugin/require/require.js" defer async="true" data-main="../../Scripts/BBS/index"></script>-->
    <script src="../../plugin/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../plugin/vue/vue.js"></script>
    <script src="../../plugin/layui/layui.all.js"></script>
    <script src="../../plugin/lodash/lodash.js"></script>
    <script src="../../Scripts/Common/nav.js"></script>
    <script src="../../Scripts/BBS/index.js"></script>
</body>
</html>
