--查询1-10的数据
SELECT * FROM 
(
SELECT sum(CODE_ACT_LEN) over(partition by REC_CREATOR) AS TotalCode_Len
      ,ROW_NUMBER() OVER(ORDER BY REC_ID) AS RN
      ,RANK() OVER(ORDER BY REC_ID) AS R
      ,DENSE_RANK() OVER(ORDER BY REC_ID) AS DR
      ,NTILE(10) OVER(ORDER BY REC_ID) AS N
  FROM [BGMES].[dbo].[TTS0091]
) N
WHERE N.RN > 0 AND N.RN <= 10
  
--删除用户id重复的行 只保留最小的值
DELETE FROM TTS0091
WHERE REC_ID NOT IN
(
  SELECT MIN(REC_ID) AS MIN_REC_ID
  FROM TTS0091
  GROUP BY REC_CREATOR
)

--case表达式
SELECT width, case
when width > 100 then '大于100'
else '小于100'
end AS 长度
FROM TRWCU02

SELECT CU02.WIDTH,CU02.*
FROM TRWCU02 AS CU02
WHERE CASE
WHEN CU02.WIDTH > 100 THEN '1'
ELSE '0'
END = '1'

--日期格式和转换，比较

SELECT CASE 
WHEN CAST('2018-01-23T00:00:00' AS DATETIME) = '20180123' THEN 'TRUE'
ELSE 'FALSE'
END 只比较日期是否相等

SELECT CAST('20181001' AS SMALLDATETIME)

SELECT CAST('20000901 07:30:00' AS DATETIME2)

SELECT CAST('19:45:00' AS TIME)

--第二章练习题
--1.求出6月份所有订单
SELECT orderid,orderdate,custid,empid FROM Sales.Orders
WHERE MONTH(orderdate) = 6 and YEAR(orderdate) = 2008
--这种方式可以避免索引失效
SELECT orderid,orderdate,custid,empid FROM Sales.Orders
WHERE orderdate >= '2008-06-01' and orderdate < '2008-07-01'

--3.求出所有名字的字母包含两个以上的a
SELECT * FROM PERSON
WHERE FIRSTNAME LIKE '%a%a%'

--4.求总价格大于10000的所有订单,并按照总价排序
SELECT ORDERID,(NUM * PRICE) AS TOTALVALUE           --错误
FROM SALES.ORDERDETAILS
WHERE NUM * PRICE > 10000
ORDER TOTALVALUE

SELECT ORDERID,SUM(PRICE * NUM) AS TOTALVALUE        --正确
FROM SALES.ORDERDETAILS
GROUP BY ORDERID
HAVING SUM(PRICE * NUM) > 10000
ORDER BY SUM(PRICE * NUM)

--5.返回2007年平均运费最高的三个国家
SELECT TOP 3 SHIPCOUNTRY,AVG(AVGFREIGHT)
FROM SALES.ORDERS
WHERE ORDERDATE >= '2007-01-01' AND ORDERDATE < '2008-01-01'
GROUP BY SHIPCOUNTRY
ORDER BY AVG(AVGFREIGHT) DESC

--6.为每个顾客单独根据订单日期的顺序，来计算其订单的行号

SELECT CUSTID,ORDERDATE,ORDERID,
ROW_NUMBER() OVER(PARTITION BY CUSTID ORDER BY ORDERDATE,ORDERID) AS ROWNUM
FROM SALES.ORDERS
ORDER BY CUSTID,ROWNUM

--7.构建一个SELECT语句，让它根据每个雇员的友好称谓来返回不同的性别，如：对于'Ms.'和'Mrs.'返回'female'；
--对于'Mr.'，返回'male'，对于其他情况，返回'UnKnown'

SELECT EMPID,FIRSTNAME,LASTNAME,TITLEOFCOURTESY,
CASE TITLEOFCOURTESY WHEN 'MS.' THEN 'FEMALE'
WHEN 'MSR.' THEN 'FEMALE'
WHEN 'MR.' THEN 'MALE'
ELSE 'UNKNOWN' END AS GENDER
FROM HR.EMPLOYEES.

--8.返回每个客户ID和所在区域。对输出中的行按照区域排序，NULL值排在最后面

SELECT CUSTID,REGION                 --错误，因为ISNULL()函数有两个参数，并且它的作用是，当行为空时用另一个参数代替之
FROM SALES.CUSTOMERS
WHERE !ISNULL(REGION)
ORDER BY CUSTID
UNION
SELECT CUSTID,REGION
FROM SALES.CUSTOMERS
WHERE ISNULL(REGION)
ORDER BY CUSTID

SELECT CUSTID,REGION				--正确
FROM SALES.CUSTOMERS
ORDER BY CASE WHEN REGION IS NULL THEN 0 ELSE 1 END DESC