<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Report" type="System.Configuration.DictionarySectionHandler" />
    <section name="redis" type="System.Configuration.DictionarySectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <Report>
    <add key="CrystalReport1.rpt" value="一厂" />
    <add key="CrystalReport2.rpt" value="二厂" />
    <add key="CrystalReport3.rpt" value="三厂" />
  </Report>
  <redis>
    <add key="WriteServerList" value="192.168.150.129:6379"></add>
    <add key="ReadServerList" value="192.168.150.129:6379"></add>
    <add key="MaxWritePoolSize" value="1000"></add>
    <add key="MaxReadPoolSize" value="3000"></add>
    <add key="AutoStart" value="0"></add>
  </redis>
  <connectionStrings>
    <add name="MSSQL" connectionString="Data Source=.\MSSQL2008R2;Initial Catalog=Book;Persist Security Info=True;User ID=sa;Password=111111" providerName="System.Data.SqlClient" />
    <add name="MeiTuan" connectionString="Data Source=.\MSSQL2008R2;Initial Catalog=MeiTuan;Persist Security Info=True;User ID=sa;Password=111111" providerName="System.Data.SqlClient" />
    
  <add name="MeiTuanEntities" connectionString="metadata=res://*/Model.MeiTuan.EF.Model1.csdl|res://*/Model.MeiTuan.EF.Model1.ssdl|res://*/Model.MeiTuan.EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQL2008R2;initial catalog=MeiTuan;persist security info=True;user id=sa;password=111111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>