@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStrongResult</title>
</head>
<body>
    <div>
        This is GetChildAction
    </div>
    <div>
        @Html.Action("Time")
    </div>
</body>
</html>