
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetParital</title>
</head>
<body>
    <div> 
        This is GetPartial
    </div>
    <div>
        @Html.Partial("MyPartial")
    </div>
</body>
</html>
