
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStrongResult</title>
</head>
<body>
    <div>
        This is GetStrongPartial
    </div>
    <div>
        @Html.Partial("MyStrongPartial",new string[] { "Apple","Orange","Banana" })
    </div>
</body>
</html>
