<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!--以Dictionary字典键值对的形式返回配置节中的信息-->
    <section name="redis" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="StaticFactoryMethod_db" value="SqlServer"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="XCYN.Print.Properties.Settings.MeetingSysConnectionString" connectionString="Data Source=.;Initial Catalog=MeetingSys;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ShopEntities" connectionString="metadata=res://*/linq.Model1.csdl|res://*/linq.Model1.ssdl|res://*/linq.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Shop;user id=sa;password=111111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MeetingSys" connectionString="Data Source=.\MSSQL2008R2;Initial Catalog=MeetingSys;Persist Security Info=True;User ID=sa;Password=111111;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <redis>
    <add key="WriteServerList" value="192.168.150.129:6379">
    </add>
    <add key="ReadServerList" value="192.168.150.129:6379">
    </add>
    <add key="MaxWritePoolSize" value="1000">
    </add>
    <add key="MaxReadPoolSize" value="3000">
    </add>
    <add key="AutoStart" value="0">
    </add>
  </redis>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_IStockService" />
        <binding name="GreatAllService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="FastAllService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/OrderService/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderServiceReference.IOrderService"
        name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8000/StockService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStockService" contract="StockServiceReference.IStockService"
        name="BasicHttpBinding_IStockService" />
      <endpoint address="http://localhost:8733/AllService/" binding="basicHttpBinding"
        bindingConfiguration="GreatAllService" contract="AllServiceReference.IAllService"
        name="GreatAllService" />
      <endpoint address="net.tcp://localhost:8734/AllService/" binding="netTcpBinding"
        bindingConfiguration="FastAllService" contract="AllServiceReference.IAllService"
        name="FastAllService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="XCYN.Print.DesignPattern.Proxy.DataService">
        <endpoint address="" binding="basicHttpBinding" contract="XCYN.Print.DesignPattern.Proxy.IDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/XCYN.Print.DesignPattern.Proxy/DataService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
