table,tr {
    border: 1px solid #f70cb2
}

.active{
    background-color:yellow
}

.normal{
    background-color:white
}

.font-red{
    color:red
}

.font-green{
    color:limegreen
}

.bg_gray {
    background-color: gray
}

.bg_pink {
    background-color: pink
}

.border_red{
    border-color:red;
}