<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--以Dictionary字典键值对的形式返回配置节中的信息-->
    <section name="redis" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <redis>
    <add key="WriteServerList" value="192.168.150.129:6379">
    </add>
    <add key="ReadServerList" value="192.168.150.129:6379">
    </add>
    <add key="MaxWritePoolSize" value="1000">
    </add>
    <add key="MaxReadPoolSize" value="3000">
    </add>
    <add key="AutoStart" value="0">
    </add>
  </redis>
  <connectionStrings>
    <add name="MSSQL" connectionString="server=.;uid=sa;pwd=111111;database=HotelManage;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <!--httpModules>
      <add name="FileGZipModule" type="XCYN.Web.Module.FileGZipModule"/>
    </httpModules-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
      <modules>
        <add name="FileGZipModule" type="XCYN.Web.Module.FileGZipModule"/>
      </modules>
      <directoryBrowse enabled="true" />
    </system.webServer>
   
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="XCYN.Web.Service.OrderServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="XCYN.Web.Service.OrderService">
                <endpoint address="" behaviorConfiguration="XCYN.Web.Service.OrderServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="XCYN.Web.Service.OrderService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>