
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    <form action="Login" method="post">
        用户名：<input type="text" name="username" /><br/>
        密码：<input type="password" name="password" />
        <input type="submit" />
    </form>
</div>