<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redis" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <redis>
    <add key="WriteServerList" value="192.168.1.111:6379"></add>
    <add key="ReadServerList" value="192.168.1.111:6379"></add>
    <add key="MaxWritePoolSize" value="1000"></add>
    <add key="MaxReadPoolSize" value="3000"></add>
    <add key="AutoStart" value="0"></add>
  </redis>
  <connectionStrings>
    <add name="MeetingSys" connectionString="Data Source=.\MSSQL2008R2;Initial Catalog=MeetingSys;Persist Security Info=True;User ID=sa;Password=111111;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
  </connectionStrings>
</configuration>